/* 列表页专有的css */
/* 头部制作 */
.sk{
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 0 14px;
}
/* 导航栏制作 */
.sk_list{
    float: left;
}
.sk_list ul li{
    float:left;
}
.sk_list ul li a{
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.sk_con{
    float: left;
}
.sk_con ul li{
    float: left;
}
.sk_con ul li a{
    display: block;
    line-height: 47px;
    padding: 0 20px;
    font-size: 14px;
}
.sk_con ul li:nth-of-type(9) a::after{
    content: "";
font-family: icomoon;
}
/* 主体制作 */
.sk_container .clearfix ul li{
    float: left;
}
.box {
    position: relative;
    width: 290px;
    height: 458px;
    margin: 10px auto;
    overflow: hidden;
    border: 1px solid transparent;
}
.sk_container .clearfix ul li .box:hover{
    border: 1px solid #c81523;
    }

.pic {
    width: 290px;
    height: 270px;
    background-color: green;
    margin-left: -1px;
}

.pic img {
    width: 100%;
    height: 100%;
}

.box p {
    box-sizing: border-box;
    width: 290px;
    height: 40px;
    font-size: 12px;
    color: gray;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.box .now {
    font-size: 16px;
    color: red;
    font-weight: 700;
    padding-left: 20px;
}

.box .origin {
    font-size: 14px;
    color: gray;
    font-weight: 400;
    text-decoration: line-through;
}

.box .father {
    padding-left: 18px;
    font-size: 8px;
    margin-top: 5px;
}

.box .bar {
    display: inline-block;
    width: 130px;
    height: 14px;
    margin: 0;
    padding: 0%;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid red;
}

.box .bar .bar_in {
    width: 50%;
    height: 100%;
    margin: 0;
    background-color: red;
    margin-left: 0px;
    transition: width 1s;
}

.box:hover .bar_in {
    width: 87%;
}

.box .buy {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 270px;
    height: 60px;
    background-color: rgb(163, 12, 12);
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
